/* You can include this CSS in your main CSS file or a separate CSS file */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9; /* Set the background color */
    padding: 10px 0; /* Add padding for spacing */
    text-align: center;
    font-weight: bold; /* Make the text bold */
  }
  
  
  