
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

.footer {
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  width: 100%;
}