#navbarid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}    
#nav-con{
margin-right: 10px;
    margin-left: 10px;
}

#logout-button{
    color: white;
    margin:  0 10px;
}