#navbarid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   color: rgb(40, 31, 207);
   background: linear-gradient(to bottom, #ffffff, #f5f5f5);
   padding: 0;
}    
#nav-con{
margin-right: 10px;
    margin-left: 10px;
}
/* Nav.css */

  
/* Nav.css */
.navbar-nav .nav-link {
    font-weight: bold;
    color: rgb(59, 59, 59);
  }
  
#logout-button{
    color: white;
    margin:  0 10px;
}

#navbarNav{
    width: fit-content;
}

#navbartext{
    padding-right: 220px;
    font-weight: bold;
}